n8n_automation/03-prescription-expiry-warnings.json
{
  "name": "Prescription Expiry Warnings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Daily 8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.APP_BASE_URL || 'https://your-app.vercel.app' }}/api/cron/prescription-expiry-warnings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-request",
      "name": "Call Automation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.body.data;\nconst urgentWarnings = response.warnings.filter(w => w.warningLevel === 'urgent').length;\nconst totalWarnings = response.warningsSent;\n\nreturn {\n  json: {\n    message: `Prescription Expiry Warnings: ${response.processed} prescriptions checked, ${totalWarnings} warnings sent`,\n    urgentCount: urgentWarnings,\n    processed: response.processed,\n    warningsSent: totalWarnings\n  }\n};"
      },
      "id": "format-success",
      "name": "Format Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "log",
        "level": "info",
        "message": "={{ $json.message }}"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "operation": "log",
        "level": "error",
        "message": "=Prescription Expiry Warnings failed: {{ $json.body.error || 'Unknown error' }}"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 8 AM)": {
      "main": [
        [
          {
            "node": "Call Automation API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Automation API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Format Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Message": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "automation",
      "name": "Automation"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "prescription",
      "name": "Prescription"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
