n8n_automation/14-waitlist-management.json
{
  "name": "Waitlist Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.APP_BASE_URL || 'https://your-app.vercel.app' }}/api/cron/waitlist-management",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-request",
      "name": "Call Automation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log success\nconst response = $input.item.json.body?.data || $input.item.json.body || {};\nconsole.log('Waitlist Management completed:', JSON.stringify(response, null, 2));\nreturn { json: { success: true, data: response, message: 'Waitlist Management completed successfully' } };"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log error\nconst error = $input.item.json.body?.error || $input.item.json.error || 'Unknown error';\nconsole.error('Waitlist Management failed:', error);\nreturn { json: { success: false, error: error } };"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call Automation API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Automation API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          [
            {
              "node": "Log Success",
              "type": "main",
              "index": 0
            }
          ]
        ],
        [
          [
            {
              "node": "Log Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "automation",
      "name": "Automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}